RACK_ENV=development
PORT=3000

GOOGLE_MAP_KEY=
TWITTER_API_KEY=
TWITTER_API_SECRET=
TWITTER_BEARER_TOKEN=

MAILCHIMP_API_KEY=
MAILCHIMP_LIST_ID=

VIMEO_BEARER_TOKEN=

GOOGLE_API_CLIENT_ID=
GOOGLE_API_CLIENT_SECRET=
YOUTUBE_ACCESS_TOKEN=
YOUTUBE_REFRESH_TOKEN=

SCREENSHOT_SVC_BASE_URL=https://ssaas.engineers.sg/screens/