==render partial: 'shared/default_social_share_headers'
==javascript_include_tag 'https://js.stripe.com/v3/'


- support_plans = {\
  :recurring => {\
    :id => "supporter_tiers",
    :title => "Monthly contribution",
    :label => "Supporter Tiers (Monthly)",
    :payment_options => [\
      { :label => "SG$ 5 monthly — Bronze Tier",    :stripe_code => "plan_GVKLZzYhjtOlm5"  },
      { :label => "SG$ 10 monthly — Silver Tier",   :stripe_code => "plan_GVKKkHZnwb6OlA" },
      { :label => "SG$ 25 monthly — Gold Tier",     :stripe_code => "plan_GVKMyNkveqCIYQ" },
      { :label => "SG$ 50 monthly — Platinum Tier", :stripe_code => "plan_GVKM9TWVewLF3j" },
   ]\
  },

  :one_time => {\
    :id => "one_time_support",
    :title => "One time contribution",
    :label => "One time show of support",
    :payment_options => [\
      { :label => "SG$ 50 — Pat on the back",                 :stripe_code => "sku_GVKNXbIUvf7FU5" },
      { :label => "SG$ 150 — Awesome Job",                    :stripe_code => "sku_GVKP5tb2FK8lYF" },
      { :label => "SG$ 300 — True Believer",                  :stripe_code => "sku_GVKP28DHB39hJW" },
      { :label => "SG$ 800 — Shining glory of the community", :stripe_code => "sku_GVKQi0DQVZkvBw" },
      { :label => "SG$ 1500 — OMG! Thank you!",               :stripe_code => "sku_GVKQxT6fummzTu" },
   ]\
  },

}


.container
  .row
    .col.s12
      h4 Support Us

  .row
    - support_plans.keys.each do |plan|
      .col.s12.l5

        h5 = support_plans[plan][:title]

        form
          .row
            .input-field.col.s12
              select id="#{support_plans[plan][:id]}" name="os0"
                - support_plans[plan][:payment_options].each do |payment_option|
                  option value="#{payment_option[:stripe_code]}" = payment_option[:label]
              label id="#{support_plans[plan][:id]}" = support_plans[plan][:label]
          .row
            .input-field.col.s12
              label for="user_details" Your Email
              input.user_details maxlength="200" name="os1" type="email"
          .row.center-align
            .input-field.btn.waves-effect.waves-light.pay-with-stripe type="button" Pay with Stripe


javascript:
  (function() {
    const stripe = Stripe('pk_test_H6dQwcAqKHKyQ4cVoM5D7ubF');

    const checkoutButtons = document.getElementsByClassName('pay-with-stripe');

    for (let i = 0; i < checkoutButtons.length; i++) {
      checkoutButtons[i].addEventListener('click', () => {
        const chosenOption = document.getElementsByTagName('select')[i].value;
        const customerEmail = document.getElementsByClassName('user_details')[i].value;

        const productType = chosenOption.includes('plan_') ? 'plan' : 'sku';

        const checkoutOptions = {
          items: [{ [productType]: chosenOption, quantity: 1}],
          successUrl: 'https://engineers.sg/support_us',
          cancelUrl: 'https://engineers.sg/support_us'
        }

        customerEmail ? checkoutOptions["customerEmail"] = customerEmail : null;

        stripe.redirectToCheckout(checkoutOptions)
        .then(function (result) {
          if (result.error) {
            alert("The payment couldn't be initiated. Please try again!")
          }
        });
      });
    }

  })();
