@import "materialize/components/color";
$primary-color: #3C74A3 !default;
@import "materialize";

video{
  width: 1280px;
  height: 720px;
  border: 1px solid white;
  outline: 1px solid #ccc;
  z-index: 5;
}

#myvideo{
  // transform: rotateY(-180deg);
}

.video{
  span.card-title{
    font-size: 1.4em !important;
    line-height: 1.2em !important;
  }
  .card-content {
    overflow: visible !important;
    padding: 13px;
    h6 {
      font-size: 0.8em;
    }
  }
}

.thumbnail{
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;

  img {
    position: absolute;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
  }
}

@media screen and (max-width: 1200px){
  .nav-mobile span{
    display: none;
  }
}

.newsletter_header {
  text-align: center;
  font-size: 1.5rem;
}

.newsletter_border {
  border: 1px solid;
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
  border-color: #d3d3d3; 
  margin-top: 3.2em; 
  .col.s6.button_style {
    margin-top: 1.5em;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #3C74A3;
  }
}

.input-field {
  .prefix.active {
    color: #3C74A3;
  }
  input:focus:not([readonly]) {
    border-bottom: 1px solid #3C74A3;
    box-shadow: 0 1px 0 0 #3C74A3;
    & + label.active {
      color: #3C74A3;
    }
  }
}