@import "materialize/components/color";
$primary-color: color("blue", "darken-4") !default;
@import "materialize";

video{
  width: 1280px;
  height: 720px;
  border: 1px solid white;
  outline: 1px solid #ccc;
  z-index: 5;
}

#myvideo{
  // transform: rotateY(-180deg);
}

.video{
  span.video-title{
    font-size: 1.2em;
  }
}
