// Place all the styles related to the episodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.video-wall{
  width: 100%;
  position:fixed;
  z-index: 1000;
  background: #fff;
}
#player{
  display: block;
  width: 864px;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 20px;
}
.videos{
  margin-top: 536px;
}
