doctype html
html
  head
    title= "Engineers.SG"
    link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" /
    =stylesheet_link_tag 'application', media: 'all'
    meta name="viewport" content="width=device-width, initial-scale=1.0" /
    script src="//cdn.temasys.com.sg/skylink/skylinkjs/0.6.x/skylink.complete.min.js" /
    =csrf_meta_tags
    =auto_discovery_link_tag(:atom, feed_url(format: "atom"), title: "Engineers.SG - ATOM Feed")
  body
    ==render 'shared/fb'
    ==render 'shared/nav_bar'

    ==yield

    ==render 'shared/footer'
    =javascript_include_tag 'application'
    ==render 'shared/ga'
